{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Profile" />
  <meta name="author" content="" />



  <title>Hello Chat!</title>

  <link rel="stylesheet" href="{% static 'Dietititan/bulma.min.css' %}">
  <link rel="stylesheet" href="{% static 'Dietititan/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet"
    href="{% static 'Website_all/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css' %}">
  <link rel="stylesheet" href="{% static 'Website_all/assets/css/font-icons/entypo/css/entypo.css' %}">
  <link rel="stylesheet" href="{% static '//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' %}">
  <link rel="stylesheet" href="{% static 'Profile/Profile.css' %}">

  <link rel="stylesheet" href="{% static 'Website_all/assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'Website_all/assets/css/neon-core.css' %}">
  <link rel="stylesheet" href="{% static 'Website_all/assets/css/neon-theme.css' %}">
  <link rel="stylesheet" href="{% static 'Website_all/assets/css/neon-forms.css' %}">
  <link rel="stylesheet" href="{% static 'Website_all/assets/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'Website_all/assets/css/skins/green.css' %}">

  <script src="{% static 'Website_all/assets/js/jquery-1.11.3.min.js' %}"></script>



</head>

<body class="page-body  skin-green loaded" data-url="http://neon.dev">

  <div class="page-container sidebar-collapsed">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->


    <div class="sidebar-menu">

      <div class="sidebar-menu-inner pt-6">

        <header class="logo-env">

          <!-- logo -->
          <div class="logo ">
            <a href="index.html">
              <h1 style=" font-size:300% ; color:white ">Dietopedia</h1>

            </a>
          </div>

          <!-- logo collapse icon -->
          <div class="sidebar-collapse" style="margin-left: 10px;">
            <a href="#" class="sidebar-collapse-icon">
              <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
              <i class="entypo-menu"></i>
            </a>
          </div>


          <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
          <div class="sidebar-mobile-menu visible-xs">
            <a href="#" class="with-animation">
              <!-- add class "with-animation" to support animation -->
              <i class="entypo-menu"></i>
            </a>
          </div>

        </header>


        <ul id="main-menu" class="main-menu" style="">
          <!-- add class "multiple-expanded" to allow multiple submenus to open -->
          <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->

          <li class="has-sub root-level">
            <a href="../Dietitian/inbox">
              <i class="entypo-layout"></i>
              <span class="title">Chat</span>
            </a>

          </li>
          <li class="has-sub root-level">
            <a href="../Recomendation">
              <i class="entypo-newspaper"></i>
              <span class="title">Testing</span>
            </a>

          </li>


          <li class="active root-level">
            <a href="../profile">
              <i class="entypo-newspaper"></i>
              <span class="title">Profile</span>
            </a>

          </li>

          <li class="has-sub root-level">
            <a href="Logout">
              <i class="entypo-doc-text"></i>
              <span class="title">Log Out</span>
            </a>
          </li>

        </ul>

      </div>

    </div>



    <div class="main-content" style="position: fixed; width: 100%;margin-left: -1%;">

      <div class="row">

        <!-- Profile Info and Notifications -->
        <div class="col-md-6 col-sm-8 clearfix">

          <ul class="user-info pull-left pull-none-xsm">

            <!-- Profile Info -->
            <li class="profile-info dropdown">
              <!-- add class "pull-right" if you want to place this from right -->

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img class="img-circle" src="{{user.customers.ProfilePic.url}}" width="44">

                <b>Hello ,{{user.username}}</b>
              </a>

              <ul class="dropdown-menu">

                <!-- Reverse Caret -->
                <li class="caret"></li>

                <!-- Profile sub-links -->
                <li>
                  <a href="extra-timeline.html">
                    <i class="entypo-user"></i>
                    Edit Profile
                  </a>
                </li>



                <li>
                  <a href="extra-calendar.html">
                    <i class="entypo-calendar"></i>
                    Calendar
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="entypo-clipboard"></i>
                    Subscription
                  </a>
                </li>
              </ul>
            </li>

          </ul>



        </div>


        <!-- Raw Links -->

      </div>

      <hr>


      <div class="profile-env">
        <header class="row" style="background-color: #4b97b582;margin-left: -5%;">





          <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
              <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                <div class=" dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Welcome!</h6>
                </div>
                <a href="../examples/profile.html" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>My profile</span>
                </a>
                <a href="../examples/profile.html" class="dropdown-item">
                  <i class="ni ni-settings-gear-65"></i>
                  <span>Settings</span>
                </a>
                <a href="../examples/profile.html" class="dropdown-item">
                  <i class="ni ni-calendar-grid-58"></i>
                  <span>Activity</span>
                </a>
                <a href="../examples/profile.html" class="dropdown-item">
                  <i class="ni ni-support-16"></i>
                  <span>Support</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>






        </header>



        {% block content %}
        {% endblock %}

      </div>




      <script src="/Static/Website_all/assets/js/neon-chat.js"></script>


      <!-- JavaScripts initializations and stuff -->
      <script src="/Static/Website_all/assets/js/neon-custom.js"></script>



      <!-- Bottom scripts (common) -->
      <script src="/Static/Website_all/assets/js/gsap/TweenMax.min.js"></script>
      <script src="/Static/Website_all/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
      <script src="/Static/Website_all/assets/js/bootstrap.js"></script>
      <script src="/Static/Website_all/assets/js/joinable.js"></script>
      <script src="/Static/Website_all/assets/js/resizeable.js"></script>
      <script src="/Static/Website_all/assets/js/neon-api.js"></script>
      <script src="/Static/Website_all/assets/js/rickshaw/vendor/d3.v3.js"></script>


      <!-- Imported scripts on this page -->
      <script src="/Static/Website_all/assets/js/rickshaw/rickshaw.min.js"></script>
      <script src="/Static/Website_all/assets/js/raphael-min.js"></script>
      <script src="/Static/Website_all/assets/js/morris.min.js"></script>
      <script src="/Static/Website_all/assets/js/jquery.peity.min.js"></script>
      <script src="/Static/Website_all/assets/js/neon-charts.js"></script>
      <script src="/Static/Website_all/assets/js/jquery.sparkline.min.js"></script>
      <script src="/Static/Website_all/assets/js/neon-chat.js"></script>



    </div>
  </div>


</body>

</html>